#numpy
#pandas
#scikit-learn
#streamlit
#statsmodels
#pickle

streamlit==1.10.0           # Voor het bouwen van de Streamlit app
pandas==1.5.3               # Voor datamanipulatie en DataFrames
numpy==1.21.5               # Voor numerieke berekeningen
scikit-learn==1.0.2         # Voor data preprocessing en het trainen van modellen (zoals het schalen van data)
statsmodels==0.13.0         # Voor het uitvoeren van de multinomiale logistische regressie
joblib==1.1.0               # Voor het opslaan en laden van modellen (kan ook pickle zijn)
scipy==1.7.3 
